<ion-header>
  <ion-navbar>
    <ion-title>
      Cart
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 *ngIf="books.length === 0" >Your Shopping Cart is empty.</h1>
  <ion-list *ngIf="books.length > 0">
    <book-item *ngFor="let book of books"
               [book]="book"
               [type]="'list'"
               [removeFromCartFunc]="remove.bind(this)">
  </book-item>
  </ion-list>
</ion-content>