page-profile {
  .card-background-page {
    text-align: center;
    height: 250px;
    background: #4285f4;
    color: #fff;
    position: relative;
    ion-icon {
      position: absolute;
      right: 20px;
      top: 10px;
      font-size: 2em;
    }
    .inner {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      img {
        width: 80px;
        border-radius: 100%;
        margin-bottom: 20px;
      }
    }
  }
  .btn-login-fb {
    margin: 2rem;
  }
}
