<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="isLoggedIn">
  <ion-header class="card-background-page">
    
    <ion-icon (click)="logout()"
              name="log-out">
    </ion-icon>
    
    <div class="inner">
      <img src="{{currentUser.photoURL}}" />
      <div class="card-title">{{currentUser.displayName}}</div>
    </div>
  </ion-header>

  <ion-list>
    
    <ion-item>
      <ion-icon name="mail"
                item-start>
      </ion-icon>
      
      {{currentUser.email}}
    </ion-item>
    
    <ion-item>
      <ion-icon name="call"
                item-start>
      </ion-icon>
      {{currentUser.phoneNumber}}
    </ion-item>

  </ion-list>
</ion-content>

<ion-content *ngIf="!isLoggedIn">
  <button (click)="login()"
          ion-button icon-right
          class="btn-login-fb">
    Login with
    <ion-icon name="logo-facebook"></ion-icon>
  </button>
</ion-content>

