<ion-card *ngIf="type==='card'">
  <img src="{{book.imgUrl}}"/>

  <ion-card-content>
    <ion-card-title>
      {{book.title}}
    </ion-card-title>
    <p>
      {{book.description}}
    </p>
    <button *ngIf="!book.isAdded"
            (click)="buy(book)"
            ion-button clear item-end
            >
            Add to cart
    </button>
    <button *ngIf="book.isAdded"
            ion-button clear item-end >
            Book is added
    </button>
  </ion-card-content>
</ion-card>

<ion-item *ngIf="type==='list' && book.isAdded === true">

  <ion-thumbnail item-start>
    <img src="{{book.imgUrl}}">
  </ion-thumbnail>
  
  <h2>{{book.title}}</h2>
  <p>{{book.description}}</p>
  <button (click)="remove(book)"
          ion-button clear item-end >
          Remove
  </button>
</ion-item>