<ion-header>
  <ion-navbar>
    <ion-title>Welcome my book store</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <book-item *ngFor="let book of books"
             [book]="book"
             [type]="'card'"
             [addToCartFunc]="buy.bind(this)">
  </book-item>
</ion-content>